# dependencies
/node_modules

# build output
/dist
*.tsbuildinfo

# env files (never commit real secrets)
.env
.env.local

# misc
.DS_Store
*.pem

# logs
npm-debug.log*
pm2-*.log

# prisma
prisma/dev.db
